{% extends "base.html" %}

{% block head %}
<title>Restaurant menu for {{restaurant.name}}</title>
{% endblock%}

{% block body %}
<h3>Add a Menu</h3>
<form action="{{url_for('newMenu', restaurant_id=restaurant.id)}}" method="POST">
    <label for="newMenu">New Menu</label>
    <input name="name" type="text" />
    <button type='submit'>Add</button>
</form>
<h3>{{restaurant.name}}</h3>

{% for i in items %}
    {{ i.name }}
    <br />
    {{ i.description }}
    <br />
    {{ i.price }}
    <br />
    <a href="{{url_for('editMenu', restaurant_id = restaurant.id, menu_id = i.id) }}"> Edit</a>&nbsp;
    <a href="{{url_for('deleteMenu', restaurant_id=restaurant.id, menu_id=i.id)}}">Delete</a>

    <br /><br />
{% endfor %}




{% endblock %}
